body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00aaff, #6a5acd, #ff6347, #ff8c00);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    font-family: Arial, sans-serif;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    color: white;
}

.container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.download-btn {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #ff6347;
}

.creators {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.creator {
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
}

.creator img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.creator:hover {
    transform: scale(1.1); /* Agranda la imagen */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra al pasar el ratón */
}